// commonly repeated values

$mainorange: orange;
$mainlightgrey: #DDDDDD;
$backgroundgrey: #333333;
$fontstack: "Helvetica Neue", Arial, Helvetica, sans-serif;
$smallfont: 12px;
$medfont: 16px;
$typingfont: 20px;
$largefont:24px;

