body{
  @extend %zero-edges;
  font-family: $fontstack;
}
fieldset{
  @extend %zero-edges;
  padding:10px;
}
form{
  @extend %zero-edges;
  width: 100%;
  @include mq(medium){
    display: flex;
  }

  
  section{

    float: left;
    clear: left;
    width: 100%;
    @include mq(medium){

      display:block;
      width: 34%;
    }



    img{
      width:100%;
    }
  }

  section:nth-child(1){
    background-color: $grey1;
  }

  section:nth-child(2){
    background-color:$grey2;
  }

  section:nth-child(3){
    background-color: $grey3;
    padding-right: 0;
  }

}


legend{
  @include font-color-size($grey5,$medfont, inherit);

  @include mq(medium){
    font-size: $largefont;
  }

}
fieldset{
  @extend %zero-edges;
}

fieldset:first-child{
  margin-top: 10px;
  legend{
    
    @include font-color-size($grey5,$largefont, inherit);

    @include mq(medium){
      font-size: $largestfont;
    }

  }
}

#summary{

  div{
    overflow: auto;
    p:nth-child(odd){
      float: left;
      clear: left;
    }
    p:nth-child(even){
      float: right;
      clear: right;
    }
  }

  #address{
    overflow: auto;
    p{
      @extend %zero-edges;
      float: left;
      clear: left;
    }
    p:first-child{
      @include font-color-size($grey5,$largefont,bold);
      padding: 0 0 10px 0;
    }
  }

}

#shipping{
  overflow: auto;
  p{
    margin: .5em 0;
    float: left;
    overflow: visible;
  }

  label{
    float: left;
    @include font-color-size($grey5,$medfont,bold);
  }

  input{
    width: 100%;
    float: left;
    display: block;
    background-color: $grey3;
    border: 1px solid $grey4;
    @include font-color-size($grey5,$smallfont,normal);

  }
  select{
    width: 100%;
    float: left;
    display: block;
    background-color: $grey3;
    border: 1px solid $grey4;
    @include font-color-size($grey5,$medfont,bold);
  }

  .half{
    display: block;
    width: 45%;
    margin-right: 5%;
  }

  .third{
    display: block;
    width: 25%;
    margin-right: 5%;
  }



}

.error{
  color: rgb(163, 0, 0);
  font-weight: 900;
  padding: 2px;
}

.clearleft{
  clear: left;
}

.flexcontainer{
  display: flex;
  justify-content: space-between;

}

#price{
  @include font-color-size($grey5, 1.5em, bold);
  float:right;
  clear:right;
  @extend %zero-edges;
}


.transp50{
  opacity: .75;
}

#cost{
    p{
      margin: .5em 0;
    }
}

hr{
  margin:0;
}

.disappear{
  visibility: hidden;
  width:0px;
}



.ordercomplete{
  visibility: visible !important;
  background-color: $grey1 !important;
  margin: auto;
}

h1.ordercomplete{
  font-size: 3em !important;
}

#hiddenheader{
  visibility: hidden;
  @include font-color-size($grey5, 0, bold);
  @extend %zero-edges;
  width:30%;
  margin: auto;
}

#checkmark{
  visibility: hidden;
  float: left;
  margin:50px 0 0 35%;
  clear: both;
  width: 30%;
}